# Database & Redis
DATABASE_URL=postgres://fnd:fnd@localhost:5432/foundereum?sslmode=disable
REDIS_URL=redis://localhost:6379
ENV=development
LOG_LEVEL=debug
PORT_API=8080
PORT_GATEWAY=8081
PORT_MCP=8082

# Auth & API Control Plane
JWT_SECRET=fnd_dev_jwt_secret_super_secure_32_bytes_min
AUTH_DEV_BYPASS=true
QUORUM_MODE=app

# Privy
PRIVY_APP_ID=cmts8u7co004x0cl4j9kjbzr1
PRIVY_APP_SECRET=privy_app_secret_45HgiBrHZDfEa52jLXjrf7BPKcXd6L3mmYt1iDmMcV7iRqNRwRH3jzBnMfRkjGWWzMZHH8J19NhUqP3ztecpbkbN
PRIVY_VERIFICATION_KEY=
PRIVY_AUTH_KEY=

# Hedera Testnet
HEDERA_NETWORK=testnet
HEDERA_FAUCET_ACCOUNT=0.0.10413602
HEDERA_FAUCET_KEY=0x51286cfb7b56c8fed6b8379a04117e9a80c455f8d198adaa3f62c292657142b4
HEDERA_OPERATOR_ACCOUNT=0.0.10413602
HEDERA_OPERATOR_KEY=0x51286cfb7b56c8fed6b8379a04117e9a80c455f8d198adaa3f62c292657142b4
HEDERA_PLATFORM_ACCOUNT=0.0.10413602
HEDERA_FEEPAYER_ACCOUNT=0.0.10413602
HEDERA_FEEPAYER_KEY=0x51286cfb7b56c8fed6b8379a04117e9a80c455f8d198adaa3f62c292657142b4
HEDERA_USDC_TOKEN_ID=0.0.429274
HEDERA_JSON_RPC=https://testnet.hashio.io/api
HEDERA_EVM_CHAIN_ID=296

# The Graph
GRAPH_API_KEY=b2a1e0701e4812ead1abd1135a150b9c
SUBGRAPH_MCP_URL=http://localhost:7000

# Dex & DeFi
SAUCERSWAP_ROUTER=0x0000000000000000000000000000000000000000
WHBAR_ADDR=0x0000000000000000000000000000000000000000

# Gateway Execution Settings
FACILITATOR_MODE=self
BLOCKY402_URL=http://localhost:8090
WALLET_SIGNER=local
MOCK_CHAINS=true

# Frontend
VITE_API_URL=http://localhost:8080
VITE_PRIVY_APP_ID=cmts8u7co004x0cl4j9kjbzr1
